.services {
  padding: 0 3rem;
  display: flex;
  height: 100vh;
  align-items: center;
}

.services-awesome {
  display: flex;
  flex-direction: column;
  position: relative;
}

.services-awesome > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.services-awesome > :nth-child(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
.services-awesome > :nth-child(3) {
  color: var(--gray);
  font-size: 14px;
  margin-top: 1rem;
}

.services-button {
  width: 8rem;
  height: 2rem;
  margin-top: 1rem;
}

.services-cards {
  position: relative;
}

.services-design {
  margin-left: 28rem;
}

.services-developer {
  margin-left: 6rem;
  margin-top: 9rem;
}

.services-ui {
  margin-left: 24rem;
  margin-top: 21rem;
}

.services-blur-1 {
  left: -12rem;
  top: 20rem;
  background: #abf1ff94;
}

.services-blur-2 {
  left: 32rem;
  top: 10rem;
  background: #edd0ff;
}
